# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# Other important files
terraform.tfvars
authorized_key.json
*/ssh-key/*
cloud-init.yml
nimda@*
variables.tf.myexample
.env

# Local files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
plan.out

# Editor files
.vscode/
.idea/
*.swp
*.swo